<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Day Temperature</th>
      <th>Night Temperature</th>
      <th>Evening Temperature</th>
      <th>Morning Temperature</th>
    </tr>
  </thead>
  <tbody>

      <tr>
        <th scope="row">Temperatures</th>
        <td><%= forecast.temp.day_temp %></td>
        <td><%= forecast.temp.night_temp %></td>
        <td><%= forecast.temp.evening_temp %></td>
        <td><%= forecast.temp.morn_temp%></td>
      </tr>

  </tbody>
</table>